@charset "UTF-8";
/* Animation */
.menu__icon-close {
  position: absolute;
  right: 0;
  margin: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  min-width: 350px;
  padding-top: 84px;
  padding-bottom: 84px;
  padding-left: 31px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 418px;
}
@media (min-width: 769px) {
  .container {
    max-width: 690px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (min-width: 1201px) {
  .container {
    max-width: 1170px;
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

/* Общий стиль для странцы */
.page {
  font-family: "Open Sans", "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background: #fff;
  color: #555555;
}

.getin-and-contacts-wrapper {
  padding: 0;
  max-width: 478px;
}
@media (min-width: 769px) {
  .getin-and-contacts-wrapper {
    max-width: 750px;
  }
}
@media (min-width: 1201px) {
  .getin-and-contacts-wrapper {
    display: flex;
    max-width: 1230px;
  }
}

/* Убрать подчеркивание на всех ссылках */
a {
  text-decoration: none;
}

img {
  display: block;
}

/* Глобальные атрибуты для списков */
li {
  list-style: none;
  padding: 0;
}

.logo {
  z-index: 1;
  margin-right: auto;
}
.logo__link {
  display: block;
  cursor: pointer;
}
.logo__icon {
  fill: #fff;
  width: 69px;
  height: 55.5px;
}
@media (min-width: 769px) {
  .logo__icon {
    fill: #000;
  }
}
@media (min-width: 1201px) {
  .logo {
    margin-right: 50px;
  }
}

.navigation {
  display: none;
  margin-right: 25px;
}
.navigation__pages {
  display: flex;
}
.navigation__item {
  margin-left: 24px;
}
.navigation__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #fff;
}
.navigation__link--active-page {
  color: #FF6C00;
}
.navigation__link--active-page::after {
  content: "";
}
@media (min-width: 769px) {
  .navigation {
    display: block;
  }
}
@media (min-width: 1201px) {
  .navigation {
    margin-right: auto;
  }
}

.navigation__link:hover {
  color: #FF6C00;
}

.description {
  position: relative;
  max-width: 100%;
}
.description__topline {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.description__topline::before {
  margin-right: 20px;
  width: 60px;
  border-top: 1px solid #9DA4BD;
  content: "";
}
.description__title {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  color: #fff;
}
.description__content {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.socials-media {
  display: flex;
  align-items: flex-start;
}
.socials-media--vertical {
  position: relative;
  left: 50%;
  transform-origin: left;
  transform: translateY(calc(50% - 40px)) rotate(-90deg);
}
.socials-media__item:first-child {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.socials-media__item:first-child::before {
  margin-right: 40px;
  width: 60px;
  border-top: 1px solid #303030;
  content: "";
}
.socials-media__link {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: #303030;
}
.socials-media__link:hover {
  color: #FF6C00;
}

.btn {
  padding: 12px 20px 12px 20px;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid #FF6C00;
  background: #fff;
  color: #303030;
  cursor: pointer;
}
.btn--yellow {
  color: #fff;
  background: #FF6C00;
}
.btn--trans {
  color: #fff;
  background: transparent;
}

.btn:focus, .btn:hover {
  color: #fff;
  background: #FF6C00;
}
.btn--yellow:hover {
  color: #303030;
  background: #fff;
}

.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons__item:first-child {
  margin-left: 0;
}
.social-icons__item {
  margin-left: 10px;
}
.social-icons__ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color, 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: #303030;
  transition: fill, 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__ellipse:hover .social-icons__icon {
  fill: #FF6C00;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  z-index: 100;
}
.menu.is-open {
  display: flex;
}
.menu__icon-close {
  margin: 21px;
  top: 0;
  transform: scale(2);
  border: none;
}
.menu__pages {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}
.menu__page--active-page {
  color: #FF6C00;
}
.menu__contact, .menu__page {
  margin-bottom: 32px;
}
.menu__page:last-child {
  margin-bottom: 302px;
}
.menu__bootom-wrapper {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.menu__contacts {
  font-size: 24px;
  line-height: 28px;
}
.menu__contact:first-child {
  font-size: 34px;
  line-height: 40px;
  color: #FF6C00;
}
.menu__contact:last-child {
  margin-bottom: 64px;
}
.menu__social-links {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 22px;
  color: #FF6C00;
}
.menu__social-link {
  margin-right: 20px;
}
.menu__social-link::after {
  position: relative;
  left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  content: "";
}
.menu__social-link:last-child::after {
  border: none;
}
.menu__link {
  color: inherit;
  cursor: pointer;
  transition: padding 0.25s cubic-bezier(0.4, 0, 0.2, 1), color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__icon-close:hover {
  fill: #FF6C00;
}
.menu__page:hover .menu__link {
  padding-left: 5px;
  color: #FF6C00;
}

.page-header {
  min-width: 350px;
}
.page-header__container {
  position: relative;
  background-repeat: no-repeat;
  background-image: url(../images/tablet/slider_3.jpg);
  background-position-x: center;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 0;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .page-header__container {
    background-image: url(../images/tablet/slider_3@2x.jpg);
  }
}
.page-header__wrapper {
  display: flex;
}
.page-header__sidebar {
  display: none;
}
.page-header__top-header {
  position: absolute;
  display: flex;
  top: 42px;
  width: calc(100% - 62px);
  align-items: center;
  justify-content: space-between;
}
.page-header__btn {
  display: none;
}
.page-header__hum-icon {
  fill: #fff;
  width: 40px;
  height: 40px;
}
.page-header__slider {
  padding-top: 208px;
  padding-bottom: 183px;
}
.page-header__description {
  max-width: 306px;
}
@media (min-width: 769px) {
  .page-header__container {
    background-image: none;
  }
  .page-header__sidebar {
    display: flex;
    margin-right: 30px;
    width: 90px;
    align-items: flex-end;
    position: relative;
  }
  .page-header__btn {
    display: block;
  }
  .page-header__hum-button {
    display: none;
  }
  .page-header__slider {
    flex-grow: 1;
    justify-content: center;
    padding-bottom: 245px;
    padding-top: 272px;
    background-repeat: no-repeat;
    background-image: url(../images/tablet/slider_3.jpg);
    background-position-x: center;
    background-size: cover;
  }
}
@media (min-width: 769px) and (min-device-pixel-ratio: 2), (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 769px) and (min-resolution: 192dpi), (min-width: 769px) and (min-resolution: 2dppx) {
  .page-header__slider {
    background-image: url(../images/tablet/slider_3@2x.jpg);
  }
}
@media (min-width: 769px) {
  .page-header__slider-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 769px) {
  .page-header__description {
    max-width: 355px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1201px) {
  .page-header__slider {
    background-image: url(../images/desktop/slider_3_large.jpg);
  }
}
@media (min-width: 1201px) and (min-device-pixel-ratio: 2), (min-width: 1201px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1201px) and (min-resolution: 192dpi), (min-width: 1201px) and (min-resolution: 2dppx) {
  .page-header__slider {
    background-image: url(../images/desktop/slider_3_large@2x.jpg);
  }
}
@media (min-width: 1201px) {
  .page-header__description {
    margin-left: 100px;
  }
}

/*  ----------  Футер  --------------  */
.page-footer__container {
  display: flex;
  justify-content: space-between;
  margin: 44px auto 44px auto;
  padding-top: 0;
  padding-bottom: 0;
}
.page-footer__copyright {
  margin-top: 35px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: #9DA4BD;
}
@media (min-width: 769px) {
  .page-footer__container {
    margin: 56px auto 56px auto;
  }
  .page-footer__copyright {
    margin-top: 0;
  }
}
.about-us-section__picture-box {
  display: none;
}
.about-us-section__content {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
}
.about-us-section__description-topline {
  color: #303030;
}
.about-us-section__description-title {
  max-width: 333px;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #303030;
}
.about-us-section__description-content {
  color: #555555;
}
@media (min-width: 769px) {
  .about-us-section__container {
    display: flex;
    gap: 30px;
  }
  .about-us-section__picture-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 30px;
  }
  .about-us-section__picture {
    height: 50%;
  }
  .about-us-section__content-box {
    width: 50%;
  }
}
@media (min-width: 1201px) {
  .about-us-section__picture-box {
    flex-direction: row;
  }
  .about-us-section__picture {
    width: calc(50% - 15px);
    height: 100%;
  }
}

.price-section__container {
  background-color: #111319;
  background-repeat: no-repeat;
  background-image: url(../images/mobile/price_bg.png);
  background-position-x: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .price-section__container {
    background-image: url(../images/mobile/price_bg@2x.png);
  }
}
.price-section__description-title {
  font-size: 42px;
  line-height: 49px;
  padding-bottom: 44px;
}
.price-section__box {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9DA4BD;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.price-section__left-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 0 30px;
}
.price-section__names {
  flex-grow: 1;
}
.price-section__name {
  display: flex;
  padding-bottom: 20px;
}
.price-section__name::after {
  position: relative;
  display: flex;
  margin: 0 6px 0 6px;
  flex-grow: 1;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  top: -6px;
  content: "";
}
.price-section__right-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 30px 30px;
  margin-bottom: 50px;
}
.price-section__cost {
  display: flex;
  padding-bottom: 20px;
}
.price-section__right-wrapper .price-section__name:last-child, .price-section__right-wrapper .price-section__cost:last-child {
  padding-bottom: 0;
}
.price-section__btn {
  display: block;
  margin: auto;
}
@media (min-width: 769px) {
  .price-section__container {
    background-image: url(../images/tablet/price_bg.png);
  }
}
@media (min-width: 769px) and (min-device-pixel-ratio: 2), (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 769px) and (min-resolution: 192dpi), (min-width: 769px) and (min-resolution: 2dppx) {
  .price-section__container {
    background-image: url(../images/tablet/price_bg@2x.png);
  }
}
@media (min-width: 1201px) {
  .price-section__container {
    background-image: url(../images/desktop/price_bg.png);
  }
}
@media (min-width: 1201px) and (min-device-pixel-ratio: 2), (min-width: 1201px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1201px) and (min-resolution: 192dpi), (min-width: 1201px) and (min-resolution: 2dppx) {
  .price-section__container {
    background-image: url(../images/desktop/price_bg@2x.png);
  }
}
@media (min-width: 1201px) {
  .price-section__box {
    display: flex;
    margin-bottom: 50px;
  }
}
@media (min-width: 1201px) {
  .price-section__left-wrapper {
    width: 50%;
    padding-bottom: 30px;
  }
}
@media (min-width: 1201px) {
  .price-section__right-wrapper {
    width: 50%;
    padding-top: 30px;
    margin-bottom: 0;
    background: linear-gradient(180deg, #171a24 0%, rgba(9, 11, 19, 0.5) 100%);
  }
}
@media (min-width: 1201px) {
  .price-section__left-wrapper .price-section__name:last-child, .price-section__left-wrapper .price-section__cost:last-child {
    padding-bottom: 0;
  }
}

.awards_section__description-topline {
  color: #303030;
}
.awards_section__description-title {
  font-size: 42px;
  line-height: 49px;
  color: #303030;
  letter-spacing: 0.05em;
}
.awards_section__description-content {
  margin-bottom: 44px;
  color: #555555;
  font-size: 18px;
  line-height: 30px;
}
.awards_section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.awards_section__item {
  box-sizing: border-box;
  width: calc(50% - 15px);
  padding: 20px 35px 20px 35px;
  color: #303030;
  background-color: #F7F7F7;
  text-align: center;
}
.awards_section__item:nth-child(2), .awards_section__item:nth-child(4) {
  position: relative;
  top: 30px;
}
.awards_section__price {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
}
.awards_section__price::after {
  position: relative;
  top: 8px;
  left: 2px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ff6c00;
  content: "+";
}
.awards_section__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
}
@media (min-width: 769px) {
  .awards_section__left-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  .awards_section__description {
    max-width: 70%;
  }
  .awards_section__list {
    width: 66.6666666667%;
  }
}
@media (min-width: 1201px) {
  .awards_section__container {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 235px;
  }
  .awards_section__left-wrapper {
    justify-content: center;
  }
}

.masters-section {
  background-color: #F7F7F7;
}
.masters-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  text-align: center;
  letter-spacing: 0.02em;
}
.masters-section__picture-box {
  width: 100%;
}
.masters-section__picture {
  width: 100%;
  margin-bottom: 30px;
}
.masters-section__title {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 25px;
  color: #303030;
}
.masters-section__content {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 19px;
  color: #FF6C00;
}
.masters-section__description {
  max-width: 100%;
}
.masters-section__description-topline {
  color: #303030;
}
.masters-section__description-title {
  font-size: 42px;
  line-height: 49px;
  color: #303030;
  letter-spacing: 0.05em;
}
@media (min-width: 769px) {
  .masters-section__container {
    max-width: 450px;
  }
  .masters-section__item {
    width: 100%;
  }
}
@media (min-width: 1201px) {
  .masters-section__container {
    max-width: 1170px;
  }
  .masters-section__list {
    flex-wrap: nowrap;
    gap: 30px;
  }
}

.presentation-section__description-topline {
  margin-bottom: 44px;
  color: #303030;
  line-height: 21px;
}
.presentation-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.presentation-section__picture {
  width: 100%;
}
@media (min-width: 769px) {
  .presentation-section__item {
    max-width: calc(50% - 15px);
  }
}
@media (min-width: 1201px) {
  .presentation-section__list {
    flex-wrap: nowrap;
  }
}

.getin-section {
  background-color: #191c26;
}
.getin-section__title {
  margin-bottom: 44px;
  font-family: "Raleway";
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #fff;
}
.getin-section__input::-moz-placeholder, .getin-section__area::-moz-placeholder {
  vertical-align: top;
  color: #555555;
}
.getin-section__input:-ms-input-placeholder, .getin-section__area:-ms-input-placeholder {
  vertical-align: top;
  color: #555555;
}
.getin-section__input::placeholder, .getin-section__area::placeholder {
  vertical-align: top;
  color: #555555;
}
.getin-section__input, .getin-section__area {
  box-sizing: border-box;
  padding: 6px 0 6px 0;
  margin-bottom: 44px;
  width: 100%;
  background: transparent;
  border: none;
  color: #555555;
  border-bottom: 1px solid #555555;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  resize: none;
}
.getin-section__btn {
  display: block;
  padding: 12px 38px 12px 38px;
  margin: auto;
}
@media (min-width: 769px) {
  .getin-section__title {
    text-align: left;
  }
  .getin-section__inputs-wrapper {
    display: flex;
    gap: 30px;
  }
  .getin-section__btn {
    margin: 0;
  }
}
@media (min-width: 1201px) {
  .getin-section {
    width: 50%;
  }
}

.getin-section__input:hover, .getin-section__area:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.contacts-section__container {
  background-color: #191c26;
  background-image: url(../images/mobile/contacts_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.contacts-section__title {
  margin-bottom: 40px;
  font-family: "Raleway";
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #fff;
}
.contacts-section__list {
  margin-bottom: 44px;
}
.contacts-section__item {
  margin-bottom: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
.contacts-section__item:nth-child(3) {
  margin-bottom: 0;
  text-decoration: underline;
}
.contacts-section__description-topline {
  color: #fff;
}
.contacts-section__description-title {
  padding-bottom: 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
@media (min-width: 769px) {
  .contacts-section__container {
    background-image: url(../images/tablet/contacts_bg.png);
  }
  .contacts-section__wrapper {
    display: flex;
    gap: 30px;
  }
  .contacts-section__list {
    width: 50%;
    margin-bottom: 0;
  }
  .contacts-section__description {
    width: 50%;
  }
}
@media (min-width: 1201px) {
  .contacts-section {
    width: 50%;
  }
  .contacts-section__container {
    padding-left: 100px;
    padding-right: 100px;
    background-image: url(../images/desktop/contacts_bg.png);
  }
  .contacts-section__title {
    text-align: left;
  }
  .contacts-section__list {
    margin-bottom: 66px;
  }
  .contacts-section__wrapper {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */