@charset "UTF-8";
/* Animation */
.getin-section__container, .presentation-section__container, .masters-section__container, .awards_section__container, .price-section__container, .about-us-section__container {
  padding-top: 84px;
  padding-bottom: 84px;
}

.is-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  min-width: 350px;
  padding-left: 31px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 418px;
}
/* Общий стиль для странцы */
.page {
  font-family: "Open Sans", "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background: #fff;
  color: #555555;
}

/* Убрать подчеркивание на всех ссылках */
a {
  text-decoration: none;
}

img {
  display: block;
}

/* Глобальные атрибуты для списков */
li {
  list-style: none;
  padding: 0;
}

.logo__link {
  display: block;
}
.logo__icon {
  fill: #fff;
  width: 69px;
  height: 55.5px;
}
.navigation {
  display: none;
}
.navigation__link--active-page::after {
  content: "";
}
.description {
  position: relative;
  max-width: 100%;
}
.description__topline {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.description__topline::before {
  margin-right: 20px;
  width: 60px;
  border-top: 1px solid #9DA4BD;
  content: "";
}
.description__title {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  color: #fff;
}
.description__content {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.contacts {
  display: none;
}
.btn {
  padding: 12px 20px 12px 20px;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid #FF6C00;
  background: #fff;
  color: #303030;
  cursor: pointer;
}
.btn--yellow {
  color: #fff;
  background: #FF6C00;
}
.btn--trans {
  color: #fff;
  background: transparent;
}

.btn:focus, .btn:hover {
  color: #fff;
  background: #FF6C00;
}
.btn--yellow:hover {
  color: #303030;
  background: #fff;
}

.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons__item:first-child {
  margin-left: 0;
}
.social-icons__item {
  margin-left: 10px;
}
.social-icons__ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color, 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: #303030;
  transition: fill, 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__ellipse:hover .social-icons__icon {
  fill: #FF6C00;
}

.page-header {
  background-repeat: no-repeat;
  min-width: 350px;
  background-image: url(../../images/slider_3.jpg);
  background-position-x: center;
}
.page-header__sidebar {
  display: none;
}
.page-header__container {
  position: relative;
  padding-top: 208px;
  padding-bottom: 183px;
}
.page-header__top-header {
  position: absolute;
  display: flex;
  top: 42px;
  width: calc(100% - 62px);
  align-items: center;
  justify-content: space-between;
}
.page-header__menu-button {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.page-header__hum-icon {
  fill: #fff;
  width: 40px;
  height: 40px;
}
.page-header__description {
  max-width: 306px;
}
/*  ----------  Футер  --------------  */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.about-us-section__picture-box {
  display: none;
}
.about-us-section__content {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
}
.about-us-section__description-topline {
  color: #303030;
}
.about-us-section__description-title {
  max-width: 333px;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #303030;
}
.about-us-section__description-content {
  color: #555555;
}

.price-section__container {
  background-color: #111319;
  background-repeat: no-repeat;
  background-image: url(../images/price_bg.png);
  background-position-x: center;
}
.price-section__description-title {
  font-size: 42px;
  line-height: 49px;
  padding-bottom: 44px;
}
.price-section__box {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9DA4BD;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.price-section__left-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 0 30px;
}
.price-section__names {
  flex-grow: 1;
}
.price-section__name {
  display: flex;
  padding-bottom: 20px;
}
.price-section__name::after {
  position: relative;
  display: flex;
  margin: 0 6px 0 6px;
  flex-grow: 1;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  top: -6px;
  content: "";
}
.price-section__right-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 30px 30px;
  margin-bottom: 50px;
}
.price-section__cost {
  display: flex;
  padding-bottom: 20px;
}
.price-section__right-wrapper .price-section__name:last-child, .price-section__right-wrapper .price-section__cost:last-child {
  padding-bottom: 0;
}
.price-section__btn {
  display: block;
  margin: auto;
}

.awards_section__description-topline {
  color: #303030;
}
.awards_section__description-title {
  font-size: 42px;
  line-height: 49px;
  color: #303030;
  letter-spacing: 0.05em;
}
.awards_section__description-content {
  margin-bottom: 44px;
  color: #555555;
  font-size: 18px;
  line-height: 30px;
}
.awards_section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.awards_section__item {
  box-sizing: border-box;
  width: calc(50% - 15px);
  padding: 20px 35px 20px 35px;
  color: #303030;
  background-color: #F7F7F7;
  text-align: center;
}
.awards_section__item:nth-child(2), .awards_section__item:nth-child(4) {
  position: relative;
  top: 30px;
}
.awards_section__price {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
}
.awards_section__price::after {
  position: relative;
  top: 8px;
  left: 2px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ff6c00;
  content: "+";
}
.awards_section__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
}

.masters-section {
  background-color: #F7F7F7;
}
.masters-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  text-align: center;
  letter-spacing: 0.02em;
}
.masters-section__picture {
  width: 100%;
  margin-bottom: 30px;
}
.masters-section__title {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 25px;
  color: #303030;
}
.masters-section__content {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 19px;
  color: #FF6C00;
}
.masters-section__description {
  max-width: 100%;
}
.masters-section__description-topline {
  color: #303030;
}
.masters-section__description-title {
  font-size: 42px;
  line-height: 49px;
  color: #303030;
  letter-spacing: 0.05em;
}

.presentation-section__description-topline {
  margin-bottom: 44px;
  color: #303030;
  line-height: 21px;
}
.presentation-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.presentation-section__picture {
  width: 100%;
}

.getin-section {
  background-color: #191c26;
}
.getin-section__title {
  margin-bottom: 44px;
  font-family: "Raleway";
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #fff;
}
.getin-section__input::-moz-placeholder, .getin-section__area::-moz-placeholder {
  vertical-align: top;
  color: #555555;
}
.getin-section__input:-ms-input-placeholder, .getin-section__area:-ms-input-placeholder {
  vertical-align: top;
  color: #555555;
}
.getin-section__input::placeholder, .getin-section__area::placeholder {
  vertical-align: top;
  color: #555555;
}
.getin-section__input, .getin-section__area {
  box-sizing: border-box;
  padding: 6px 0 6px 0;
  margin-bottom: 44px;
  width: 100%;
  background: transparent;
  border: none;
  color: #555555;
  border-bottom: 1px solid #555555;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  resize: none;
}
.getin-section__btn {
  display: block;
  padding: 12px 38px 12px 38px;
  margin: auto;
}

.getin-section__input:hover, .getin-section__area:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}/*# sourceMappingURL=main.css.map */