.about-us-section {
  &__picture-wrapper {
    display: none;
  }

  &__picture {
    // width: 100%;
  }

  &__content {
    padding-top: 20px;
    padding-bottom: 40px;

    // FONT
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.02em;
  }

  &__description {
  }

  &__description-topline {
    color: $text-color-4;
  }

  &__description-title {
    max-width: 333px;
    font-weight: $font-weight-2;
    font-size: $desc-font-size;
    line-height: 33px;
    color: $text-color-4;
  }

  &__description-content {
    color: $text-color-default;
  }

  @include media(">tablet") {
    &__container {
      display: flex;
      gap: 30px;
    }

    &__picture-wrapper {
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: 30px;
      // width: 100%;
    }

    &__picture {
      // height: 50%;
    }  

    &__content-box {
      width: 50%;
    }
  }

  @include media(">desktop") {
    &__picture-wrapper {
      flex-direction: row;
    }

    &__picture {
      // width: calc(50% - 15px);
      width: 100%;
      height: 100%;
    }  
  }
}