.awards_section {
  &__container {
    @extend %top-bottom-shifting-section;
  }

  &__description {
    
  }

  &__description-topline {
    color: $text-color-4;
  }

  &__description-title {
    font-size: $font-size-6;
    line-height: 49px;
    color: $text-color-4;
    letter-spacing: 0.05em;
  }

  &__description-content {
    margin-bottom: 44px;
    color: $text-color-default;
    font-size: $font-size-5;
    line-height: 30px;
  }

  &__left-wrapper {
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    box-sizing: border-box;
    width: calc(50% - 15px);
    padding: 20px 35px 20px 35px;
    color: $text-color-4;
    background-color: $awards-item-bg-color;
    text-align: center;
  }

  &__item:nth-child(2),
  &__item:nth-child(4) {
    position: relative;
    top: 30px;
  }

  &__price {
    display: flex;
    justify-content: center;
    font-weight: $font-weight-2;
    font-size: $font-size-6;
    line-height: 57px;
  }

  &__price::after {
    position: relative;
    top: 8px;
    left: 2px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #ff6c00;
    content: "+";
  }

  &__text {
    font-weight: $font-weight-1;
    font-size: $font-size-1;
    line-height: 15px;
  }
}
