.getin-section {
  background-color: #191c26;
  // &__container {
  //   @extend %top-bottom-shifting-section;
  // }

  &__order {
  }

  &__title {
    margin-bottom: 44px;
    font-family: "Raleway";
    // font-weight: $font-weight-2;
    font-size: $font-size-6;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.05em;
    color: $text-color-third;
  }

  &__input::placeholder,
  &__area::placeholder {
    vertical-align: top;
    color: $text-color-default;
  }

  &__input,
  &__area {
    box-sizing: border-box;
    padding: 6px 0 6px 0;
    margin-bottom: 44px;
    width: 100%;
    background: transparent;
    border: none;
    color: $text-color-default;
    border-bottom: 1px solid $text-color-default;

    // FONT
    font-weight: $font-weight-1;
    font-size: $font-size-1;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    resize: none;
  }

  &__btn {
    display: block;
    padding: 12px 38px 12px 38px;
    margin: auto;
  }

  @include media(">tablet") {
    &__title {
      text-align: left;
    }

    &__inputs-wrapper {
      display: flex;
      gap: 30px;
    }

    &__btn {
      margin: 0;
    }
  }

  @include media(">desktop") {
    width: 50%;
  }
}

// HOVER
.getin-section {  
  &__input:hover,
  &__area:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
}
