.masters-section {
  background-color: $background-color-second;
  // &__container {
  //   @extend %top-bottom-shifting-section;
  // }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;

    // font-weight: 400;
    text-align: center;
    letter-spacing: 0.02em;
  }

  &__item {
  }

  &__picture {
    width: 100%;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 8px;
    font-size: $font-size-5;
    line-height: 25px;
    color: $text-color-4;
  }

  &__content {
    margin-bottom: 30px;
    font-size: $font-size-3;
    line-height: 19px;
    color: $accent-color;
  }

  &__description {
    max-width: 100%;
  }

  &__description-topline {
    color: $text-color-4;
  }

  &__description-title {
    font-size: $font-size-6;
    line-height: 49px;
    color: $text-color-4;
    letter-spacing: 0.05em;
  }

  @include media(">tablet") {
    &__container {
      max-width: 450px;
    }

    &__item {
      width: 100%;
    }
  }

  @include media(">desktop") {
    &__container {
      max-width: $d-container-max-width;
    }

    &__list {
      flex-wrap: nowrap;
      gap: 30px;
    }
  }
}
