.btn {
  // height: 50px;
  // width: 200px;
  padding: 12px 20px 12px 20px;
  
  align-items: center;

  font-family: 'Open Sans', sans-serif;
  font-weight: $font-weight-1;
  font-size: $btn-font-size;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border-radius: 25px;
  border: 1px solid $btn-border-color;
  background: $btn-background-color;
  color: $btn-text-color;
  cursor: pointer;

  &--yellow {
    color: $btn-background-color;
    background: $btn-background-color-hover;
  }
}

// HOVER
.btn {

  &:focus,
  &:hover {
    color: $btn-background-color;
    background: $btn-background-color-hover;
  }

  &--yellow:hover {
    color: $btn-text-color;
    background: $btn-background-color;
  }
}