.logo {
  z-index: 1;
  margin-right: auto;

  &__link {
    display: block;
    cursor: pointer;
  }

  &__icon {
    fill: #fff;
    width: 69px;
    height: 55.5px;
  }

  @include media(">tablet") {
    &__icon {
      fill: #000;
    }
  }

  @include media(">desktop") {
  }
}
