.menu {
  position: fixed;
  top: 0;
  left: 42%;
  bottom: 0;
  right: 0;
  padding: 40px;
  // visibility: hidden;
  
  display: none;
  flex-direction: column;
  justify-content: space-between;

  // FONT
  font-weight: 600;
  line-height: 1.39;
  letter-spacing: .1em;
  color: $text-color-4;

  background-color: #fff;
  z-index: 100;

  &.is-open {
    display: block;
    // visibility: visible;
    // transition: all $anim-duration $anim-function;
  }

  &__icon-close {
    @extend %close-button;
    margin: 21px;
    top: 0;
    transform: scale(2);
    border: none;
  }

  &__page--active-page {
    color: $accent-color;
  }

  &__contact,
  &__page {
    margin-bottom: 24px;
  }

  &__page:last-child {
    margin-bottom: 64px;
  }

  &__contact:last-child {
    margin-bottom: 64px;
  }

  &__link {
    color: inherit;
    cursor: pointer;
    transition: padding $anim-duration $anim-function, color $anim-duration $anim-function;
  }

    // MEDIA TABLET -------------
    @include media("<phone") {

      // padding: 30px;
      // font-size: 16px;

      // &__contact > &__link {
      //   font-size: 14px;
      // }

      // &__btn {
      //   padding: 10px 15px 10px 15px;
      // }
    }

}

// Hover
.menu {
  // Close button hover
  &__icon-close:hover {
    fill: $accent-color;
  }
  
  &__page:hover &__link {
    padding-left: 5px;
    color: $accent-color;
  }
}
