.menu {
  position: fixed;
  top: 0;
  left: 42%;
  bottom: 0;
  right: 0;
  padding: 30px;
  // visibility: hidden;

  display: none;
  flex-direction: column;
  justify-content: space-between;

  // FONT
  font-weight: $font-weight-1;
  line-height: 1.39;
  letter-spacing: 0.1em;
  color: $text-color-4;

  background-color: $text-color-third;
  z-index: 100;

  &.is-open {
    display: block;
    // visibility: visible;
    // transition: all $anim-duration $anim-function;
  }

  &__icon-close {
    @extend %close-button;
    // margin: 21px;
    // top: 0;
    // transform: scale(2);
    border: none;
  }

  &__page--active-page {
    color: $accent-color;
  }

  &__contact,
  &__page {
    margin-bottom: 24px;
  }

  &__page:last-child {
    margin-bottom: 64px;
  }

  &__contact:last-child {
    margin-bottom: 64px;
  }

  &__link {
    color: inherit;
    cursor: pointer;
    transition: padding $anim-duration $anim-function, color $anim-duration $anim-function;
  }

  &__socials-media-link {
    font-size: $font-size-3;
  }

  // 
  &__socials-media {
    flex-wrap: wrap;
  }
  &__socials-media > &__socials-media-item {
    margin-right: 0;
  }
  &__socials-media &__socials-media-item:nth-child(2) {
    display: flex;
    margin-top: 24px;
  }
  &__socials-media &__socials-media-item:nth-child(2)::before {
    display: flex;
    margin-right: 40px;
    width: 60px;
    // border-top: 1px solid $text-color-4;
    content: "";
  }

  // MEDIA TABLET -------------
  @include media("<phone") {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;

    &__contact > &__link {
      font-size: $font-size-3;
    }

    &__btn {
      padding: 10px 15px 10px 15px;
    }

    // Change font to small
    &__socials-media-link {
      font-size: $font-size-1;
    }

    // Change margin and width to small
    &__socials-media-item:first-child:before,
    &__socials-media > &__socials-media-item:nth-child(2):before {
      width: 40px;
      margin-right: 20px;
    }
  }
}

// Hover
.menu {
  // Close button hover
  &__icon-close:hover {
    fill: $accent-color;
  }

  &__page:hover &__link {
    padding-left: 5px;
    color: $accent-color;
  }
}
