.page-header {
  
  background-repeat: no-repeat;
  min-width: 350px;
  background-image: url(../../images/slider_3.jpg);
  background-position-x: center;


  &__sidebar {
    display: none;
  }

  &__container {
    position: relative;
    padding-top: 208px;
    padding-bottom: 183px;
  }

  &__top-header {
    position: absolute;    
    display: flex;
    top: 42px;
    width: calc(100% - $padding * 2);
    align-items: center;
    justify-content: space-between;
  }

  &__menu-button {
    // position: absolute;
    display: none;
    // display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__hum-icon {
    width: 40px;
    height: 40px;
  }

  &__slider {

  }

  &__description {
    max-width: 306px;
  }

  @include media(">tablet") {    

  }

}

// Hover
.page-header {

}