.page-header {
  min-width: 350px;

  &__container {
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../../images/slider_3.jpg);
    background-position-x: center;
    background-size: cover;

    padding-top: 0;
    padding-bottom: 0;
  }

  &__wrapper {
    display: flex;
  }

  &__sidebar {
    display: none;
  }

  &__top-header {
    position: absolute;
    display: flex;
    top: $top-header;
    width: calc(100% - $padding * 2);
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    display: none;
  }

  &__hum-icon {
    fill: #fff;
    width: 40px;
    height: 40px;
  }

  &__slider {
    padding-top: 208px;
    padding-bottom: 183px;
  }

  &__description {
    max-width: 306px;
  }

  @include media(">tablet") {
    &__container {
      background-image: none;
    }

    &__sidebar {
      display: flex;
      margin-right: 30px;
      width: 90px;
      align-items: flex-end;
      position: relative;
    }

    &__btn {
      display: block;
    }

    &__hum-button {
      display: none;
    }

    &__slider {
      flex-grow: 1;
      // display: flex;
      justify-content: center;
      padding-bottom: 245px;
      padding-top: 272px;

      background-repeat: no-repeat;
      background-image: url(../../images/slider_3.jpg);
      background-position-x: center;
      // background-position-x: right;
      background-size: cover;
    }

    &__slider-wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // top: $top-header;
    }

    &__description {
      max-width: 355px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include media(">desktop") {
    &__slider {
      background-image: url(../../images/slider_3_large.jpg);
    }

    &__description {
      margin-left: 100px;
    }
  }
}

// Hover
.page-header {
}
